<app-title title="Defer options (Triggers)" />
<section>
    <hr class="my-2">
    @defer (on interaction) {
        <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
            <span>on interaction (ng-content)</span>
        </app-heavy-loaders-fast>
    }@placeholder {
        <div class="w-full h-20 bg-purple-100">
            dar Click sobre esta area para cargar el componente
        </div>
    }
</section>
<section>
    <hr class="my-2">
    <button #btnInteraction class="p-2 bg-blue-500 hover:bg-blue-700 transition-all rounded text-write my-2">Click me</button>
    @defer (on interaction(btnInteraction)) {
        <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
            <span>on Interaction(element) (ng-content)</span>
        </app-heavy-loaders-fast>
    }@placeholder {
        <div class="w-full h-20 bg-purple-100">
            dar Click en el boton para cargar el componente
        </div>
    }
</section>
<section>
    <hr class="my-2">
    @defer (on hover) {
        <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
            <span>on hover (ng-content)</span>
        </app-heavy-loaders-fast>
    }@placeholder {
        <div class="w-full h-20 bg-purple-100">
            pasar el cursol sobre esta area para cargar el componentes
        </div>
    }
</section>
<section>
    <hr class="my-2">
    @defer (on immediate) {
        <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
            <span>on immediate (ng-content)</span>
        </app-heavy-loaders-fast>
    }@placeholder {
        <div class="w-full h-20 bg-purple-100">
            en cuando pueda carga el componente
        </div>
    }
</section>
<section>
    <hr class="my-2">
    @defer (on timer(3000)) {
        <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
            <span>on timer (ng-content)</span>
        </app-heavy-loaders-fast>
    }@placeholder {
        <div class="w-full h-20 bg-purple-100">
            una vez transcurrido el tiempo carga el componente
        </div>
    }
</section>
<section>
    <hr class="my-2">
    @defer (on hover; prefetch on idle) {
        <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
            <span>conbinacíon on hover, idle (ng-content)</span>
        </app-heavy-loaders-fast>
    }@placeholder {
        <div class="w-full h-20 bg-purple-100">
            prefetch precarga el código javascript y lo lanza en cuando se ejecuta el disparador
        </div>
    }
</section>
